footer
  border-top 5px solid #000
  width 80%
  clear both
  p
    float right
    padding 20px 0
    font-size $baseFontSize
    font-family $baseFontFamily
    color $baseFontColor

.application-footer
  width 100%