//
// Main-navigation styles
//

nav
  float right
  width 20%
  ul
    position fixed
    width 20%
    li
      font-family $baseFontFamily
      font-size $baseFontSize
      padding 15px 0
      text-align right
      a
        text-decoration none
        color $baseFontColor
        &:hover
          color $colorSecondary
      .nav-logo
        font-size 2em
        font-weight 600