header
  clear both

.header-content
  width 80%
  float left
  border-top 5px solid #000
  border-bottom 5px solid #000
  h1
    font-size $headingFontSize
    font-family $baseFontFamily
    color $baseFontColor
    padding 18px 0
    width 354px

.hand-therapy
  border-top none
  width 100%
  h1
    width 100%