extend layout
block content
  .main-content
    //- .section
    //-   .media-block
    //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna ut dui sodales fringilla. Morbi id dignissim velit, et adipiscing nulla.
    //-     .media
    //-       img(src="")


