extend layout
block content
  .section
    .media.media-alt
      img.img(src="images/motion-therapy.png")
      .body
        p.introduction Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna ut dui sodales fringilla. Morbi id dignissim velit, et adipiscing nulla.

  .header-content
    h1 Hand Therapy Exercises
  .section
    .media
      img.img(src="http://dummyimage.com/350x250/000/fff.png&text=380+x+250")
      .body
        h2 Dummy Text
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna ut dui sodales fringilla. Morbi id dignissim velit, et adipiscing
    .media.media-alt
      img.img(src="http://dummyimage.com/350x250/000/fff.png&text=380+x+250")
      .body
        h2 Dummy Text
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna ut dui sodales fringilla. Morbi id dignissim velit, et adipiscing




