doctype
html
  head
    title #{title} - Motion Therapy
    meta(name='viewport', content='initial-scale = 1.0,maximum-scale = 1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Muli:300', rel='stylesheet' type='text/css')

    // Stylesheets
    block styles
      //if lt IE 8
        link(rel='stylesheet', href='/stylesheets/index-ie7.css')
      //if IE 8
        link(rel='stylesheet', href='/stylesheets/index-ie8.css')
      <!--[if !IE]><!-->
      link(rel='stylesheet', href='/stylesheets/index.css')
      <!--<![endif]-->

  body
    .main-content
      block content


script(src='http://code.jquery.com/jquery-1.11.0.min.js')
script(src='/js/smooth-scroll.js')
script(src='/js/scrollTo.js')
script(src='/js/modernizr.custom.js')
script(src='http://js.leapmotion.com/0.2.2/leap.min.js')




