nav
  ul
    li
      a(data-scroll='data-scroll', data-options='easing: easeInQuad', href='#about') About
    li
      a(data-scroll='data-scroll', data-options='easing: easeInQuad', href='#hand') Hand Exercises
    li
      a(data-scroll='data-scroll', data-options='easing: easeInQuad', href='#contact') Contact
    li
      p.nav-logo MT
