/*
 * Import nib
 */
@font-face {
  font-family: 'entypo_socialregular';
  src: url("entypo-social-webfont.eot");
  src: url("entypo-social-webfont.eot?#iefix") format('embedded-opentype'), url("entypo-social-webfont.woff") format('woff'), url("entypo-social-webfont.ttf") format('truetype'), url("entypo-social-webfont.svg#entypo_socialregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.section {
  width: 80%;
  clear: both;
}
.heading-title {
  clear: both;
}
.media {
  width: 100%;
  overflow: hidden;
/* clearfix for floats inside the element */
  padding: 40px 0;
}
.media .body p,
.media .body h2 {
  font-family: 'Montserrat';
  font-size: 1em;
  line-height: 1.6em;
}
.media .body h2 {
  font-size: 1.4em;
  margin: 20px 0;
}
.media .body .introduction {
  padding: 70px 0 0;
  line-height: 2em;
}
.media .img {
  float: left;
  margin-right: 20px;
}
.media .img img {
  display: block;
}
.media-alt .img {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
header {
  clear: both;
}
.header-content {
  width: 80%;
  float: left;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
.header-content h1 {
  font-size: 2.9em;
  font-family: 'Montserrat';
  color: #000;
  padding: 18px 0;
  width: 354px;
}
nav {
  float: right;
  width: 20%;
}
nav ul {
  position: fixed;
  width: 20%;
}
nav ul li {
  font-family: 'Montserrat';
  font-size: 1em;
  padding: 15px 0;
  text-align: right;
}
nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li a:hover {
  color: #3e8a41;
}
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Montserrat");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Layout Styles
 */
body {
  width: 920px;
  padding: 5em 20px 1.4em 20px;
  margin: 0 auto;
}
.main-content {
  clear: both;
}
