/*
 * Import nib
 */
@import 'nib'
@import 'settings'
@import 'fonts'
@import 'layout/main-header'
@import 'layout/main-navigation'
@import 'layout/main-footer'


/*
 * Grab a custom font from Google
 */

@import url('http://fonts.googleapis.com/css?family=Montserrat')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0



