/*
 * Import nib
 */
@import 'nib'
@import 'settings'
@import 'fonts'
@import 'section'
@import 'hand'
@import 'canvas'
@import 'layout/main-header'
@import 'layout/main-navigation'
@import 'layout/main-footer'


/*
 * Grab a custom font from Google
 */

@import url('http://fonts.googleapis.com/css?family=Montserrat')

/*
 * Nib provides a CSS reset
 */

global-reset()

/*
 * Global Styles
 */

body
  width 920px
  padding $baseMarginTop 20px $baseMarginBottom 20px
  margin 0 auto


.main-content
  clear both
